{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="my-0 mx-auto bg-light rounded" style="width: 400px;">
    <h1 class="text-center">Reset Your Password</h1>
    <p class="text-center">Provide Email Address Associated With Your Account</p>
    <form action="" class="p-3" method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <br>
        <input type="submit" class="btn btn-success" value="Reset Password">
    </form>
</div>
{% endblock content %}